<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/globals.css">
  <link rel="stylesheet" href="../static/checks.css">
  <title>Gestión de Entradas y Salidas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- Barra lateral -->
<nav>
  <div>
    <div class="logo"><img src="{{ url_for('static', filename='img/Hogar_Viajero-Recuperado.png') }}" alt="Logo" ></div>
    <ul>
      <li><a href="{{ url_for('admin') }}"><i class="fas fa-home"></i><span>Inicio</span></a></li>
        <li><a href="{{ url_for('hoteles_admin') }}"><i class="fas fa-hotel"></i><span>Hoteles</span></a></li>
        <li><a href="{{ url_for('habitaciones_admin') }}"><i class="fas fa-bed"></i><span>Habitaciones</span></a></li>
        <li><a href="{{ url_for('reservas_admin') }}"><i class="fas fa-calendar-alt"></i><span>Reservas</span></a></li>
        <li><a href="{{ url_for('mantenimiento_admin') }}"><i class="fas fa-tools"></i><span>Mantenimientos</span></a></li>
        <li><a href="{{ url_for('usuarios_admin') }}"><i class="fas fa-users"></i><span>Usuarios</span></a></li>
        <li><a href="{{ url_for('ver_quejas') }}"><i class="fas fa-exclamation-circle"></i><span>Reportes</span></a></li>
    </ul>
  </div>
  <div class="bottom-links">
    <ul>
      <li><a href="{{ url_for('micuenta') }}"><i class="fas fa-user"></i><span>Mi Cuenta</span></a></li>
    </ul>
  </div>
</nav> 
<!-- Contenido principal -->
<div class="main-content">
  
  <!-- Header superior -->
  <header>
    <div class="title">Gestión de Entradas y Salidas</div>
  </header>

  <!-- Contenido de la página -->
  <div class="container">


    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Hotel</th>
          <th>Habitación</th>
          <th>Fecha de Entrada</th>
          <th>Fecha de Salida</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for data in reservas %}
        <tr>
          <td>{{ data.huesped }}</td>
          <td>{{ data.hotel }}</td>
          <td>{{ data.habitacion_n }}</td>
          <td>{{ data.checkin }}</td>
          <td>{{ data.checkout }}</td>
          <td>{{ data.estado }}</td>
          <td>
            <form method="POST" action="{{ url_for('actualizar_estado') }}" onsubmit="return confirmarModificacion()">
              <input type="hidden" name="reserva_id" value="{{ data.id }}">
              <button id="confirm_check">Validar</button>
            </form>
          </td>
        </tr>
        {% endfor %}

        </tr>
      </tbody>
    </table>

  </div>

</div>

  <script>
    function confirmarModificacion() {
  return confirm("¿Está seguro que quiere validar esta acción?");
  }

  </script>
</body>
</html>
