<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/style_client.css">
    <title>Inicio | Hoteleria</title>
</head>
<body>
    <header>
        <h1 class="titulo">La Hoteleria</h1>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="#">Habitaciones</a>
            <a href="#">Servicios</a>
            <a href="#">Galeria</a>
            <a href="#">Mi cuenta</a>
        </nav>
    </div>

    <main>
        <h2 class="titulo">Habitaciones de Lujo</h2>
        
        <div class="grid">
            <div class="habitacion">
                <a href="depto_review.html">
                    
                </a>
            </div>
        </div>
    </main>

</body>
</html>