<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear reporte</title>
</head>
<body>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        .box-nav {
            width: 100%;
        }

        header {
            text-align: center;
            background-color: #1f66ff;
            color: #fff;
        }
    </style>



    <div class="box-nav">
        <nav>

        </nav>
    </div>

    <div class="content-header">
        <header>
            <h2>Crea tu Reporte</h2>
        </header>
    </div>

</body>
</html>