<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador - Dashboard</title>
  <link rel="stylesheet" href="../static/globals.css">
  <link rel="stylesheet" href="../static/a_dashboard.css">
  <script src="../static/admin.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <nav>
    <div>
      <div class="logo">🏨</div>
      <ul>
        <li><a href="{{ url_for('admin') }}"><i class="fas fa-home"></i><span>Inicio</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-hotel"></i><span>Hoteles</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-bed"></i><span>Habitaciones</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-calendar-alt"></i><span>Reservas</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-tools"></i><span>Mantenimientos</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-users"></i><span>Usuarios</span></a></li>
        <li><a href="{{ url_for('error') }}"><i class="fas fa-exclamation-circle"></i><span>Reportes</span></a></li>
      </ul>
    </div>
    <div class="bottom-links">
      <ul>
        <li><i class="fas fa-user"></i><span>Mi Cuenta</span></li>
      </ul>
    </div>
  </nav>
<!-- Contenido principal -->
<div class="main-content">
  
  <!-- Header superior -->
  <header>
    <div class="title">Dashboard Empleado</div>
    <div class="notifications">🔔</div>
  </header>

  <!-- Contenido de la página -->
  <div class="container">

  </div>

</div>
</body>
</html>
