<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/globals.css">
  <link rel="stylesheet" href="../static/e_dashboard.css">
  <title>Dashboard Empleado</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<!-- Barra lateral -->
<nav>
  <div>
    <div class="logo">🏨</div>
    <ul>
      <li><a href="{{ url_for('empleado') }}"><i class="fas fa-home"></i><span>Inicio</span></a></li>
      <li><a href="{{ url_for('checks') }}"><i class="fas fa-door-open"></i><span>Entradas/Salidas</span></a></li>
      <li><a href="{{ url_for('habitaciones_info') }}"><i class="fas fa-bed"></i><span>Habitaciones</span></a></li>
    </ul>
  </div>
  <div class="bottom-links">
    <ul>
      <li><i class="fas fa-exclamation-circle"></i><span>Reportar Incidencia</span></li>
      <li><i class="fas fa-user"></i><span>Mi Cuenta</span></li>
    </ul>
  </div>
</nav>

<!-- Contenido principal -->
<div class="main-content">
  
  <!-- Header superior -->
  <header>
    <div class="title">Dashboard</div>
    <div class="notifications">🔔</div>
  </header>

  <!-- Contenido de la página -->
  <div class="container">
    
    <!-- Tarjetas de contadores -->
    <div class="cards">
      <a href="{{ url_for('checks') }}">
        <div class="card">
          <h2>{{ checkins }}</h2>
          <p>Check-ins Pendientes</p>
        </div>
      </a>
      <a href="{{ url_for('checks') }}">
        <div class="card">
          <h2>{{ checkouts }}</h2>
          <p>Check-outs Pendientes</p>
        </div>
      </a>

      <a href="{{ url_for('habitaciones_info') }}">
        <div class="card">
            <h2>{{ ocupadas }}</h2>
            <p>Habitaciones Ocupadas</p>
        </div>
      </a>

      <a href="{{ url_for('habitaciones_info') }}">
        <div class="card">
          <h2>{{ disponibles }}</h2>
          <p>Habitaciones Disponibles</p>
        </div>
      </a>

    </div>

    <!-- Tabla de mantenimientos programados -->
    <div class="maintenance-overview">
        <h3>Mantenimientos Programados</h3>
        <table>
          <thead>
            <tr>
              <th>Mantenimiento</th>
              <th>Hotel</th>
              <th>Habitación</th>
              <th>Hora</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            {% for data in mantenimientos %}
            <tr>
              <td>{{ data.tipo }}</td>
              <td>{{ data.hotel }}</td>
              <td>{{ data.habitacion_n }}</td>
              <td>{{ data.programado }}</td>
              <td><button class="detalles">Ver detalle</button></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>


    <!-- Vista rápida de habitaciones -->
    <div class="rooms-overview">
      <h3>Estado general de las habitaciones</h3>
      <div class="rooms-status">
        <div>Disponibles: {{ disponibles }}</div>
        <div>Ocupadas: {{ ocupadas }}</div>
        <div>En mantenimiento: {{ mantenimiento }}</div>
      </div>
      <button onclick="location.href='{{ url_for('habitaciones_info') }}'">Ir a Habitaciones</button>
    </div>


  </div>

</div>

</body>
</html>
