<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/style_login.css">
    <title>Inicio de sesión</title>
</head>
<body>
    <div class="login-container">
        <h2 class="title">La Hoteleria</h2>
        <form "novalidate" action="form-login" method="post">
            <label for="user">Usuario</label>
            <input type="username" name="txtuser">
            <label for="user">Contraseña</label>
            <input type="password" name="txtpassword">
            <a class="olvide" href="">Olvide mi contraseña</a>
            <a class="cuenta" href="">¿Todavia no tenes cuenta?</a>
            <button type="submit">Entrar</button>
        </form>

    </div>
</body>
</html>